.App {
  background-color: whitesmoke;
  border-radius: 50px;
  height: 90vh;
}

.navbar-default {
  background-color: transparent;
}

.navbar {
  border: 1px solid transparent;
  padding: 30px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #555;
  background-color: transparent;
}

